
###############
# SVI
###############
{% set rack = racks[devices[inventory_hostname].rack] %}
{% for vlan in vlans %}
auto vlan{{ vlan }}
iface vlan{{ vlan }}
    address {{ rack.vrr[vlan].mlag_left if inventory_hostname[-1:]|int%2 != 0 else rack.vrr[vlan].mlag_right }}
    address-virtual {{ rack.vrr[vlan].mac }} {{ rack.vrr[vlan].ipv4 }}
{%   if rack.vrf is defined %}
    vrf {{ devices[inventory_hostname].svis[vlan].vrf }}
{%   endif %}
    vlan-raw-device bridge
    vlan-id {{ vlan }}
{% endfor %}
